{% extends "layout.html.twig" %}

{% block content %}
    <script type="text/javascript" src="https://conektaapi.s3.amazonaws.com/v0.3.2/js/conekta.js"></script>
    
    <a href="{{app.url_generator.generate('homepage') }}">Home</a>
    {% if usuario==null %}
        <a href="{{ app.url_generator.generate('login_vista') }}">Login</a>
        <a href="{{ app.url_generator.generate('registrar') }}">Registrar</a>
    {% else %}
       	{{ correo    }}
       	<a href="{{ app.url_generator.generate('log_out') }}">Log out</a>
    {% endif %}

<form action="#" method="post">
    <table border = "1" align="center">
        <tr>
            <td>Nombre de tarjetahabiente: </td>
            <td>{{ form_widget(form.Nombre_de_Tarjetahabiente) }}</td>
        </tr>
        <tr>
            <td>Número de Tarjeta de Crédito: </td>
            <td>{{ form_widget(form.Numero_de_Tarjeta_de_Credito) }}</td>
        </tr>
        <tr>
            <td>CVC: </td>
            <td>{{ form_widget(form.CVC) }}</td>
        </tr>
        <tr><td>Vencimiento: </td>
            <td>{{ form_widget(form.fechaExpiracion) }}</td>
        </tr>
        <tr><td COLSPAN="2">{{ form_widget(form.Ordenar) }}</td></tr>
    </table>
</form>

<table border="1" align="center">
            <colgroup>
                <col id="img_chc" />
                <col id="nombre" />
                <col id="col_cantidad">
                <col id="precio" />
                <col id="subtotal" />
            </colgroup>
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% set total=0 %}
                {% for pchk in post_check %}
                    <tr>
                        <td><img src="{{ asset(pchk.url_imagen) }}""></img></td>
                        <td>{{pchk.Nombre_Producto}}</td>
                        <td>{{pchk.Cantidad}}</td>
                        <td>{{pchk.Precio}}</td>
                        <td>{{pchk.Cantidad * pchk.Precio}}</td>
                        {% set total= total + (pchk.Cantidad*pchk.Precio) %}
                    </tr>
                {% endfor %}
                    <tr><td COLSPAN="4" align="right">TOTAL</td><td>{{total}}</td>
            </tbody>
        </table>
{% endblock %}
